body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(18, 18, 19);
  font-family: arial;
}

h1 {
  color: white;
  font-family: gambado-sans-forte, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 45px;
}

hr {
  /* color: #818384; */
  border-top: 0.5px solid rgba(97, 97, 100, 0.5);
  width: 100%;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

#row1,
#row2,
#row3,
#row4,
#row5,
#row6 {
  display: flex;
  gap: 0.3rem;
}

.letterInput {
  border: solid 2px rgba(97, 97, 100, 0.5);
  height: 3.5rem;
  width: 3.5rem;
  margin-bottom: 0.3rem;
  background-color: #121213;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

input {
  user-select: none;
  color: white;
}
