:root {
  --background: #121213;
  --accentGray: #61616580;
  --text: #ffffff;
  --correct: #538d4e;
  --close: #b59f3b;
  --notInWord: #3a3a3c;
  --currentDiv: #565758;
  --keyboardKey: #818384;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  font-family: franklin gothic;
  margin: 0;
  gap: 1rem;
}

h1 {
  color: var(--text);
  font-family: gambado-sans-forte, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 38px;
  padding-top: 5px;
  margin:0;
}

hr {
  border: none;
  height: 1px; 
  background-color: var(
    --accentGray
  );
  margin: 0;
  width: 100%;
  margin-bottom: 0.2rem;
}
#mainContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

#letterRow1,
#letterRow2,
#letterRow3,
#letterRow4,
#letterRow5,
#letterRow6 {
  display: flex;
  gap: 0.2rem;
}

.letterInput {
  border: solid 2px var(--accentGray);
  height: 3.5rem;
  width: 3.5rem;
  margin-bottom: 0.2rem;
  font-size: 35px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text);
}

/* button keyboard styling */
button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  height: 58px;
  width: 40px;
  font-size: 1.2em;
  background-color: var(--keyboardKey);
  color: var(--text);
  font-weight: 600;
}

.keyboardContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

#enter,
#back {
  font-size: 13px;
  width: 60px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;

  font-family: "Material Icons Outlined"; /* Ensure you set the correct font family */
  font-size: 6em; /* Adjust the size as needed */
}

.keyboardKey {
  vertical-align: middle;
}

/* wrong answer animation */
.wrongAnswer {
  animation: shake 0.2s ease-in-out 0s 2;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-7px);
  }
  50% {
    transform: translateX(7px);
  }
  75% {
    transform: translateX(-5px);
  }
}

/* letter enter animation */
.addLetter {
  animation: grow 0.08s linear 0s 1;
  border-color: var(--currentDiv);
}

@keyframes grow {
  0%,
  100% {
    scale: 1;
  }
  50% {
    scale: 1.1;
  }
}

/* winning animation :D */
.hellYeah {
  animation: bounce 0.3s ease-in-out 0s 1;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10%);
  }
}

/* guess classes */
.correctGuess {
  background-color: var(--correct);
  border-color: var(--correct);
}

.closeGuess {
  background-color: var(--close);
  border-color: var(--close);
}

.wrongGuess {
  background-color: var(--notInWord);
  border-color: var(--notInWord);
}

/* modal styling */
.modal {
  display: none;
  visibility: hidden;
}

#modalButtons{
  display: flex;
  gap: 1rem;
}

#playAgain, #exitModal{
  width: 6rem;
  font-size: 15px;
  font-weight: 700;
  border: none;
  background-color: var(--background);
}

#modalContent{
  text-align: center;
  font-size: 20px;
}


.modalSeen {
  display: contents;
  visibility: visible;
  background-color: var(--text);
  border: var(--accentGray);
  color: var(--background);
  padding: 50px;
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}